body {
    display: flex;
justify-content: center;
align-items: center;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoCZGzPWAzDXrcNWHrygPjRAtk2OggiSrnmg&s);

}
.card 
{
    width: 300px;
padding: 20px;
border: 1px solid #000;
border-radius: 9px;
box-shadow: 0 4 8px rgba(0,0,0, 0.7);
text-align: center; 
}
img {
width: 150px;
height: 150px;
border-radius: 50%;
margin-bottom: 20px;
 }
h2 {
    margin-bottom: 10px;}
p{ 
    margin-bottom: 15px;}
.about-me{
    align-items: left;
}


